$bgbrandmain:#ed802b;
$bgbrandsecondary:#424278;
$bgbrandmaintransparent:#ed7f2b70;


#mainheader{
    height: 10%;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#headerlogo{
    height: 250%;
    width: auto;
}

.logo{
    color: $bgbrandsecondary;
}
.logo-small{
    color: $bgbrandsecondary;
}
#mapa{
    height: 100%;
    
}
#footerlogo{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.madewithlove{
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    height: 200px;
}